a:hover {
    background-color: #ecf2f3;
}
.container {
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
    margin: auto;
    font-family: Arial;
}

.menu {
    float: right;
}

.menu a {
    padding: 6px 15px;
    text-decoration: none;
    color: aliceblue;
}

.menu i {
    color: aliceblue;
}

.menu {
    float: right;
    font-size: 12px;
}

.logo {
    float: left;
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
}
.footer{
    background-color: black;
}
.date{
    width: 300px;
    margin: auto;
    color: aliceblue;
    font-size: 15px;
}

.informatio {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
}
.link a{
    color: aliceblue;
    text-decoration: none;
}
.div1{
    width: 50%;
    margin: auto;
}






















/*.header {*/
/*    font-family: "arial narrow";*/
/*    color: whitesmoke;*/
/*    text-decoration: none;*/
/*    font-size: 15px;*/
/*    padding: 20px 0 20px 20px;*/
/*}*/









/*.2018*/
/*{*/
/*    margin: auto*/
/*;*/
/*    width: 100%*/
/*;*/
/*    padding: 1px*/
/*;*/
/*}*/
/*.a a {*/
/*    font-family: "arial narrow";*/
/*    color: whitesmoke;*/
/*    text-decoration: none;*/
/*    font-size: 10px;*/
/*}*/

/*.top-menu {*/
/*    height: 80px;*/
/*    background: dodgerblue;*/
/*    display: block;*/
/*    line-height: 40px;*/
/*}*/

/*.logo {*/

/*    display: inline-block;*/
/*    float: left;*/
/*}*/

/*.logo a {*/
/*    color: whitesmoke;*/
/*    font-size: 30px;*/
/*}*/

